<section class="filter">
    <form>
        <mat-form-field>
            <mat-label>Label</mat-label>
            <input matInput (input)="onLabelChange($event.target)">
        </mat-form-field>
        <mat-form-field class="datepicker">
            <mat-label>Enter a date range</mat-label>
            <mat-date-range-input [rangePicker]="picker">
                <input matStartDate placeholder="Start date" (dateChange)="startDateUpdate($event)">
                <input matEndDate placeholder="End date" (dateChange)="endDateUpdate($event)">
            </mat-date-range-input>
            <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>
            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-date-range-picker #picker></mat-date-range-picker>
        </mat-form-field>
        <mat-form-field>
            <mat-select placeholder="Select category" (selectionChange)="onCategoryChange($event)">
                <mat-option *ngFor="let category of categoryList"
                    [value]="category.value">{{category.display}}</mat-option>
            </mat-select>
        </mat-form-field>
    </form>
</section>